.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}
.box {
  max-width: 600px;
  border: 1px solid gray;
  margin: 10px 0 10px 0;
  padding: 10px;
}
.post {
  width: 500px;
  border: 1px solid grey;
  margin-top: 10px;
  padding: 10px;
}

.buttonGetPost {
  width: 150px;
  height: 50px;
  background-color: rgb(255, 95, 32);
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: black;
  margin: 10px;
}
.buttonPostHidden {
  width: 150px;
  height: 50px;
  background-color: rgb(255, 207, 50);
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: black;
}
.buttonsBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textarea {
  margin: 10px;

  background-color: white;
  width: 100%;
  height: 50px;
  border: none;
}

* {
  box-sizing: border-box;
}

input {
}

input:disabled {
}
.px1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.mb {
  margin: 10px;
}

.boxForPosts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.addPostBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputNew {
  max-width: 600px;
}
